@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: white;
}

.dark {
  background-color: #1a202c;
  color: white;
}

.todo { border-left: 4px solid red; }
.doing { border-left: 4px solid yellow; }
.done { border-left: 4px solid green; }
